Example/Android/bin/AndroidManifest.xml
Example/Android/bin/BLEUtil.apk
Example/Android/bin/classes.dex
Example/Android/bin/classes/com/icewind/bleutil/BLEUtil$1.class
Example/Android/bin/classes/com/icewind/bleutil/BLEUtil$2.class
Example/Android/bin/classes/com/icewind/bleutil/BLEUtil$3.class
Example/Android/bin/classes/com/icewind/bleutil/BLEUtil$BLEUtilCallback.class
Example/Android/bin/classes/com/icewind/bleutil/BLEUtil$BLEUtilErrorCode.class
Example/Android/bin/classes/com/icewind/bleutil/BLEUtil$BLEUtilEvent.class
Example/Android/bin/classes/com/icewind/bleutil/BLEUtil.class
Example/Android/bin/classes/com/icewind/bleutil/BuildConfig.class
Example/Android/bin/classes/com/icewind/bleutil/MainActivity$1.class
Example/Android/bin/classes/com/icewind/bleutil/MainActivity.class
Example/Android/bin/classes/com/icewind/bleutil/R$attr.class
Example/Android/bin/classes/com/icewind/bleutil/R$dimen.class
Example/Android/bin/classes/com/icewind/bleutil/R$drawable.class
Example/Android/bin/classes/com/icewind/bleutil/R$id.class
Example/Android/bin/classes/com/icewind/bleutil/R$layout.class
Example/Android/bin/classes/com/icewind/bleutil/R$menu.class
Example/Android/bin/classes/com/icewind/bleutil/R$string.class
Example/Android/bin/classes/com/icewind/bleutil/R$style.class
Example/Android/bin/classes/com/icewind/bleutil/R.class
Example/Android/bin/dexedLibs/android-support-v4-e8fcc51017529dc6e39ce12a4b87110a.jar
Example/Android/bin/res/drawable-hdpi/ic_launcher.png
Example/Android/bin/res/drawable-mdpi/ic_launcher.png
Example/Android/bin/res/drawable-xhdpi/ic_launcher.png
Example/Android/bin/resources.ap_
Example/Android/gen/com/icewind/bleutil/BuildConfig.java
Example/Android/gen/com/icewind/bleutil/R.java
Example/iOS/.DS_Store
Example/iOS/BLECentral/.DS_Store
Example/iOS/BLEPeripheral/BLEPeripheral.xcodeproj/xcuserdata/kevin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store